label:not(.form-check-label) {
    width: 110px;
    color: #777777;
    text-align: right;
    padding-top: 5px;
    width: 150px;
  }
input{
    margin-right: 50px;
}
#rm{
    margin-left: 80px;
}
a{
    margin-right: 50px;
}
  