
<div class="d-flex justify-content-center">
    
    <div class="card m-3" id="maincard">
    <div class="form-group card-header"><h5>
        Reset Password </h5></div>
    
    <div class="card-body">
    <form [formGroup]="resetForm" (ngSubmit)= "onSubmit()">


<div class="form-group row">
    <div class ="col">
    <label>E-mail Address</label>
    </div> 
<input type="text" formControlName="email" class="form-control col"
>
</div>

<div class="form-group row">
    <div class="col"></div>
    <div class="col" id="btn">    
        <button class="btn btn-primary mr-1">Send Password Reset Link</button>
    </div>
</div>
</form>
</div>
</div>
</div>
