<div class="home" >
    <button class="btn btn-outline-secondary mr-1 nav-link" routerLink="/feed">Home</button>
</div>
<div class="d-flex justify-content-center" *ngIf="hasBeenPlaced">
    
    <div class="card m-3" id="maincard">
    
    <div class="card-body">
    <h3> Order Details</h3>
    <h4>Your Order Placed Successfully</h4>
    <h1>Status:</h1>
    <h1>{{status}}</h1>

    <p>Remaining time:</p>
        {{countdown}}
    <p>Your food is being cooked sit back and relax
     while our partners deliver hot and yummy food at your doorstep
    </p>

    <p>Order ID: {{id}}</p>

    <div class="cancel">
        <button class="btn btn-outline-danger mr-1" (click)="cancelOrder()">Cancel Order</button>
    </div>



</div>
</div>
</div>

<div class="d-flex justify-content-center" *ngIf="!hasBeenPlaced">
    
    <div class="card m-3" id="maincard">
    
    <div class="card-body">
    <h3> Order Details</h3>
    <h4>No Order Has Been Placed Yet</h4>
    


</div>
</div>
</div>
